<div class="flex gap-8 centerText">
  <form (ngSubmit)="createNewUser()" [formGroup]="newUserForm">
    <h5>Username</h5>

    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        formControlName="username"
      />
      <label for="float-input">LitaGarcia</label>
    </span>
    <small
      id="username2-help"
      class="p-error block"
      *ngIf="validateField('username')"
      >The username should have min. 3 characters.</small
    >

    <!-- <h5>Password</h5>
    <span class="p-input-icon-right">
      <i class="pi pi-key"></i>
      <input type="text" pInputText />
    </span>

    <h5>Confirm your password</h5>
    <div class="field">
      <span class="p-input-icon-right"
        ><i class="pi pi-key"></i>

        <input
          id="confirmPassword"
          type="confirmPassword"
          class="ng-invalid ng-dirty"
          pInputText
        />
      </span>

      <small id="username2-help" class="p-error block"
        >Password is not the same.</small
      >
    </div> -->

    <h5>Email</h5>
    <span class="p-float-label">
      <input pInputText id="float-input" type="text" formControlName="mail" />
      <label for="float-input">litagarcia@mail.com</label>
    </span>
    <small
      id="username2-help"
      class="p-error block"
      *ngIf="validateField('mail')"
      >You need to write an email.</small
    >

    <br />

    <p-checkbox
      name="subscription"
      [binary]="true"
      label="Send me promotional offers"
      formControlName="subscription"
    ></p-checkbox>

    <h5>Country</h5>
    <p-dropdown [options]="countries" optionLabel="name"> </p-dropdown>

    <h5>City</h5>
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText formControlName="city" />
      <label for="float-input">Madrid</label>
    </span>

    <button
      pButton
      type="button"
      label="Send"
      (click)="createNewUser()"
    ></button>
  </form>

  <app-table></app-table>
</div>
