<div class="flex gap-8 centerText">
  <form (ngSubmit)="onSubmit()" [formGroup]="newUserForm">
    <h5>Username</h5>

    <span class="p-float-label">
      <input id="float-input" type="text" pInputText formControlName="user" />
      <label for="float-input">LitaGarcia</label>
    </span>
    <small
      id="username2-help"
      class="p-error block"
      *ngIf="validateField('user')"
      >The username should have min. 3 characters.</small
    >

    <!-- <h5>Password</h5>
    <span class="p-input-icon-right">
      <i class="pi pi-key"></i>
      <input type="text" pInputText />
    </span>

    <h5>Confirm your password</h5>
    <div class="field">
      <span class="p-input-icon-right"
        ><i class="pi pi-key"></i>

        <input
          id="confirmPassword"
          type="confirmPassword"
          class="ng-invalid ng-dirty"
          pInputText
        />
      </span>

      <small id="username2-help" class="p-error block"
        >Password is not the same.</small
      >
    </div> -->

    <h5>Email</h5>
    <span class="p-float-label">
      <input pInputText id="float-input" type="text" formControlName="mail" />
      <label for="float-input">litagarcia@mail.com</label>
    </span>
    <small
      id="username2-help"
      class="p-error block"
      *ngIf="validateField('mail')"
      >You need to write an email.</small
    >

    <br />

    <p-checkbox
      name="subscription"
      [binary]="true"
      label="Send me promotional offers"
      formControlName="subscription"
    ></p-checkbox>

    <h5>Country</h5>
    <p-dropdown [options]="countries" optionLabel="name"> </p-dropdown>

    <h5>City</h5>
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText formControlName="city" />
      <label for="float-input">Madrid</label>
    </span>
    <small
      id="username2-help"
      class="p-error block"
      *ngIf="validateField('city')"
      >Please write a city.</small
    >

    <button pButton type="submit" label="Send"></button>
  </form>
  <!-- {{ newUserForm.value }} -->
  <!-- <p-table [value]="newUserForm.value" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Subscribed</th>
        <th>Country</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.user }}</td>
        <td>{{ user.mail }}</td>
        <td>
          <i
            class="pi pi-check"
            style="font-size: 1rem"
            *ngIf="user.subscription"
          ></i>
        </td>
        <td>{{ user.country.name }}</td>
        <td>{{ user.city }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-user-edit"
            class="p-button-rounded p-button-info p-button-outlined"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-outlined"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-table></app-table> -->
</div>
